<section class="default">
  <div class="section-header">
    <h1 class="section-title default">
      Kontakt
    </h1>
    <h2 class="section-description default">
      Skontaktuj się z nami lub odwiedź nas!
    </h2>
  </div>

  <div class="section-body">

    <mat-card class="map-card card-default">
      <mat-card-header>
        <!--        <div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title class="map-title default-font-title">Dane kontaktowe</mat-card-title>
        <mat-card-subtitle class="map-subtitle">Odwiedź nas lub zamów danie przez telefon</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="map-content">
        <div>
          <div class="title">
            Adres
          </div>
          <div class="description">
            <p>40-110 Katowice</p>
            <p>ul. Agnieszki 25</p>
          </div>
        </div>
        <div class="item-space">
          <div class="title">
            Telefon
          </div>
          <div class="description">
            <p>+48 501 502 503</p>
          </div>
        </div>
        <div class="item-space">
          <div class="title">
            Godziny otwarcia
          </div>
          <div class="description">
            <table>
              <tbody>
              <tr class="line">
                <td>Poniedziałek:</td>
                <td>9:00 - 23:00</td>
              </tr>
              <tr class="line">
                <td>Wtorek:</td>
                <td>9:00 - 23:00</td>
              </tr>
              <tr>
                <td>Środa:</td>
                <td>9:00 - 23:00</td>
              </tr>
              <tr>
                <td>Czwartek:</td>
                <td>9:00 - 23:00</td>
              </tr>
              <tr>
                <td>Piątek:</td>
                <td>9:00 - 23:00</td>
              </tr>
              <tr>
                <td>Sobota:</td>
                <td>9:00 - 23:00</td>
              </tr>
              <tr>
                <td>Niedziela:</td>
                <td>9:00 - 23:00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="item-space">
          <div class="title text-center">
            Zamówienia z dostawą przyjmujemy do godziny 22:00
          </div>
        </div>
      </mat-card-content>
      <!--      <mat-card-actions>-->
      <!--        <button mat-button>LIKE</button>-->
      <!--        <button mat-button>SHARE</button>-->
      <!--      </mat-card-actions>-->
    </mat-card>

    <mat-card class="map-card card-default">
      <mat-card-header>
        <!--        <div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title class="map-title default-font-title">Mapa</mat-card-title>
        <mat-card-subtitle class="map-subtitle">Sprawdź gdzie jesteśmy</mat-card-subtitle>
      </mat-card-header>
      <div class="map-image">
        <div class="map-image-shadow">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2549.6248014853963!2d19.00412021600256!3d50.280263879452264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716ce1d055f4ceb%3A0xd5fcda65b3c1a6ae!2sAgnieszki%2025%2C%2040-110%20Katowice!5e0!3m2!1spl!2spl!4v1601796114212!5m2!1spl!2spl"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>
      <!--      <mat-card-content class="map-content">-->
      <!--        <div>-->

      <!--        </div>-->
      <!--      </mat-card-content>-->
      <!--      <mat-card-actions>-->
      <!--        <button mat-button>LIKE</button>-->
      <!--        <button mat-button>SHARE</button>-->
      <!--      </mat-card-actions>-->
    </mat-card>

  </div>
</section>


