::ng-deep .mat-card-header-text
  margin 0 !important
  text-align center !important
  width 100% !important

section
  .section-body
    margin-top 30px
    display flex
    flex-wrap wrap
    justify-content center

    .drink-card
      width 200px

      .drink-subtitle
        color #d6d6d6
        font-style italic
        font-family Calibri
        font-size 18px
        margin-top 1px
        height 10px

      .drink-image
        margin-top 20px
        width 100%
        display flex
        justify-content center

        img
          height 200px
          width initial
          opacity 0.8

      .drink-content
        display flex
        justify-content space-between
        color #ffffff
        font-size 18px

        //div
          //background-color rgba(0, 0, 0, 0.1)
          //box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
          //border-radius 10px


