::ng-deep .mat-card-header-text
  margin 0 !important
  text-align center !important
  width 100% !important

section
  .section-body
    margin-top 30px
    display flex
    flex-wrap wrap
    justify-content center

    .promo-card
      width 200px

      .promo-subtitle
        color #d6d6d6
        font-style italic
        font-family Calibri
        font-size 18px
        margin-top 1px
        height 35px

      .promo-image
        height 215px
        img
          height 200px
          //height 215px

        .promo-image-shadow
          position: relative;
          //max-width: 100%;
          float: left;

        .promo-image-shadow::before
          border-radius 10px
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          box-shadow: inset 0 0 8px rgba(0,0,0,0.5);

        img
          border-radius 10px
          //width 100%
          //height 100%
          float: left;
          //box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1.0);
          box-shadow: 0 0 8px rgba(255,255,255,0.1);
          margin 0
          width 100%

      ////height 250px
      //  margin-top 20px
      //  width 100%
      //  display flex
      //  justify-content center
      //
      //  img
      //    height 200px
      //    width initial
      //    opacity 0.8
      //    border-radius 20px

      .promo-content
        display flex
        justify-content flex-end
        color #ffffff
        font-size 18px

//div
//background-color rgba(0, 0, 0, 0.1)
//box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
//border-radius 10px


