/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: MeriendaOne-Regular;
  src: url("assets/font/MeriendaOne-Regular.ttf");
}

@font-face {
  font-family: Cavalier;
  src: url("assets/font/Cavalier.ttf");
}

@font-face {
  font-family: Queens;
  src: url("assets/font/QUEENS__.TTF");
}

@font-face {
  font-family: VictoriaSerif;
  src: url("assets/font/VICTORIA SERIF.ttf");
}
@font-face {
  font-family: Raytone;
  src: url("assets/font/Raytone.ttf");
}
@font-face {
  font-family: KrinkesRegular;
  src: url("assets/font/KrinkesRegular.ttf");
}
@font-face {
  font-family: KrinkesDecor;
  src: url("assets/font/KrinkesDecor.ttf");
}
@font-face {
  font-family: TheBully;
  src: url("assets/font/TheBully.ttf");
}
@font-face {
  font-family: ChocolateCoveredRaindrops;
  src: url("assets/font/ChocolateCoveredRaindrops.ttf");
}
@font-face {
  font-family: DJ5CTRIAL;
  src: url("assets/font/DJ5CTRIAL.ttf");
}
@font-face {
  font-family: IndieFlower;
  src: url("assets/font/IndieFlower.ttf");
}
@font-face {
  font-family: Kalam-Regular;
  src: url("assets/font/Kalam-Regular.ttf");
}
@font-face {
  font-family: Kalam-Bold;
  src: url("assets/font/Kalam-Bold.ttf");
}
@font-face {
  font-family: Kalam-Light;
  src: url("assets/font/Kalam-Light.ttf");
}


body
  font-family Calibri

.lower-case
  text-transform lowercase
.bold
  font-weight bold
.italic
  font-style italic
.none
  display none


section.default
  margin 50px
  @media only screen and (max-width: 920px)
    margin 50px 20px
  @media only screen and (max-width: 450px)
    margin 50px 0

h1.default
  text-align center
  text-shadow 0 0 5px rgba(0, 0, 0, 1)
  padding 20px
  font-size 100px
  font-weight bold
  font-family Algerian
  @media only screen and (max-width: 600px)
    font-size 70px

h2.default
  text-align center
  text-shadow 0 0 5px rgba(0, 0, 0, 1)
  padding 20px
  font-size 55px
  line-height 68px
  font-weight bold
  font-family Kalam-Light
  @media only screen and (max-width: 600px)
    font-size 35px
    line-height 45px

.text-center
  text-align center

.card-default
  background-color rgba(200, 200, 200, 0.1) !important
  box-shadow inset 0 0 8px rgba(0,0,0,0.3) !important
  border-radius 15px !important
  margin 10px !important

  .default-font-title
    font-size 24px
    font-family "Lucida Fax"
    color #fff
    font-style italic
    font-weight bold
